<!-- FOOTER -->
<!--===================================================-->
<footer id="footer">
	<div class="show-fixed pad-rgt pull-right">
		You have <a href="#" class="text-main"><span class="badge badge-danger">3</span> pending action.</a>
	</div>
	<div class="hide-fixed pull-right pad-rgt">
	</div>

	<p style="float:right">1.12.0</p>
	<p class="pad-lft">&#0169; 2020 <a href="http://reflex.siagesc.com.br" target="_BLANK">reflex</a></p>
</footer>
<!--===================================================-->
<!-- END FOOTER -->
